.fullScreenCanvas {
	width: calc(100vw - 4rem);
	height: calc((100vw - 4rem) / 3 * 2);
	max-width: calc(100vw - 4rem);
	max-height: calc((100vw - 4rem) / 3 * 2);
	min-width: 100%;
	min-height: 100%;
	border: none;
	position: relative;
}

.canvasContainer {
	position: relative;
}

.canvasForeground {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	pointer-events: none;
}

.button {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 40px;
	color: white;
	padding: 60px;
	cursor: pointer;
	pointer-events: all;
	user-select: none;
	background-color: transparent;
	line-height: 0;
	border: none;
	outline: none;
}
