.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.background {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.accessibleBackground {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 50%;
}

.text {
	z-index: 1;
}
