.container {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-direction: column;
	padding: 0 20%;
}

.colors {
	display: flex;
	justify-content: center;
}

.label {
	text-align: center;
}

.switchThumb,
.label.label,
.label.label.focused,
.radio.radio.radio {
	color: black;

	.inverted & {
		color: white;
	}
}

.switchTrack {
	background-color: black;
	.inverted & {
		background-color: white;
	}
}

.radioControl {
	margin: 20px;
}

.radio.radio.radio {
	background-color: rgba(0, 0, 0, 0.04);
	.inverted & {
		background-color: rgba(255, 255, 255, 0.04);
	}
}

.radioGroup.radioGroup {
	flex-direction: row;
	justify-content: center;
}

.invertControl {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.colorControl.colorControl {
	margin: 20px;

	.label {
		margin-bottom: 10px;
	}
}
