.motionControls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.button.button {
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.75);
	border: solid 2px rgb(0, 0, 0);
	padding: 8px 20px;
	border-radius: 0;

	&:hover {
		background-color: rgba(255, 255, 255, 1);
	}
}
