@import url('https://fonts.googleapis.com/css?family=Roboto:400,900|Work+Sans:800&display=swap');

.fullScreenCanvas {
	width: 100vw;
	height: 75vh;
	max-width: 100vw;
	max-height: 75vh;
	min-width: 100%;
	min-height: 100%;
	border: none;
	position: relative;
	margin: 0 -2rem;
}

.canvasContainer {
	position: relative;
}

.canvasBackground {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 600;
	font-size: 80px;
	text-align: center;
	opacity: 0.125;
	user-select: none;

	&.enabled {
		opacity: 1;
	}

	@media (min-width: 900px) {
		font-size: 160px;
	}

	@media (min-width: 1300px) {
		font-size: 200px;
	}
}
